.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="#")= title
      .nav-collapse
        ul.nav
          li.active
            a(href="#") Home
          li
            a(href="#about") About
          li
            a(href="#contact") Contact
.banner
  .container
    .row.heading
      .span10.offset3
        img(src="/images/partyStream.png")
    .row
      center
        p.lead A free photo sharing app that allows you easily share photos with friends and family.
    .row
      center
        a.btn.btn-primary.btn-large(href="#") Register for Beta
.container
  .row
    center
      .page-header
        h1  What is Party Stream?
  .row
    .span12
      p.lead Party Stream is an application that will allow you to share photos between friends and family during created events.
  .row  
    .span4
      img(src="/images/iPhoneTrio.png")
    .span6.offset1
      .row-padding
        p.lead Share pictures among friends at a party, in realtime!
        dl.dl-horizontal
            dt Do things like:
            dd Create Events
            dd Invite people to events
            dd Upload pictures to the event
            dd View images that other users have uploaded to your events