.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="#")= title
      .nav-collapse
        ul.nav
          li.active
            a(href="#") Home
          li
            a(href="#about") About
          //- li
          //-   a(href="#contact") Contact
.banner
  .container
    .row.heading
      .span9.offset3
        img(src="/images/partyStream.png")
    .row-fluid
      center
        p.lead A free photo sharing app that allows you easily share photos with friends and family.
    .row-fluid
      center
        a.btn.btn-primary.btn-large(href="#register") Register for Beta
.container
  .row-fluid
    .row-fluid
      .span3
        img(src="/images/PS_splash.png")
      .span8.offset1
        section#about
          .row-fluid
            .row-fluid
              .span6
                p 
                  h1 Create
                p.lead Events help categorize your photos; such as birthdays, concerts, get-togethers etc.
              .span6
                p 
                  h1 Invite
                p.lead Invite friends to each event you create. A private event allows only event members to see images. A public event allows everyone to see!
          .row-fluid
            .row-fluid
              .span6
                p 
                  h1 Upload
                p.lead Take pictures and share them with all members of the event. Images can be uploaded over WiFi or over a carrier's data connection.
              .span6
                p 
                  h1 View
                p.lead See pictures that are taken from all members of the party in real time! Never have to ask a friend or family member to send you pictures again – you'll already have them!
    .row-fluid
      .span12
      section#register
      .hero-unit#update
        h1 Beta Program
        .row-fluid
          .span8
            p We are a small team working endlessly on this app trying to get it out as soon as possible. We will have a Beta program that will give a limited amount of people the chance to try our app before it is released to the public.
          .span4
            .row-fluid
              .span11.offset1
                p Please enter your email
            .row-fluid
              .span12
                .input-append
                  input(class="span8",id="email",type="text",placeholder="email@something.com")
                  button(class="btn",id="button",type="submit") Register

              //- a.btn.btn-primary.btn-large(href="#") Register for Beta

script(type='text/javascript')
  $("#button").click( function()
     {
        var emailAddress = $("#email").val();

        var request = $.ajax({
          type: 'POST',
          async: false,
          url: '/register',
          data: { email: emailAddress}
        });
        request.done(function(msg) {
          $("#update").html(msg);
        });
         
        request.fail(function(jqXHR, textStatus) {
          alert( "Request failed: " + textStatus );
        });
     }
  );

.footer
  .container
    .row
      .span2.offset10
        p Built with 
          a(href="http://twitter.github.com/bootstrap") Bootsrap
        
        ul.inline
          li
            p.lead
              small Follow us on:
          li  
            a(href="https://twitter.com/PartyStreamApp")
              img(src="/images/twitter_small.png")
