.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="#")= title
      .nav-collapse
        ul.nav
          li.active
            a(href="#") Home
          li
            a(href="#about") About
          //- li
          //-   a(href="#contact") Contact
.banner
  .container
    .row.heading
      .span10.offset3
        img(src="/images/partyStream.png")
    .row
      center
        p.lead A free photo sharing app that allows you easily share photos with friends and family.
    .row
      center
        a.btn.btn-primary.btn-large(href="#") Register for Beta
.container
  .row-padding
    .row
      .span3
        img(src="/images/PS_splash.png")
      .span8.offset1
        section#about
          .row-padding
            .row
              .span4
                p 
                  h1 Create
                p.lead Events help categorize your photos; such as birthdays, concerts, get-togethers etc.
              .span4
                p 
                  h1 Invite
                p.lead Invite different people to seperate occasions to keep events segregated. Only people invited to the event can see images in that event
          .row-padding
            .row
              .span4
                p 
                  h1 Upload
                p.lead Take pictures and share them with all members of the event. Images can be uploaded over WiFi only or also over a carrier's data connection – if the user specifies.
              .span4
                p 
                  h1 View
                p.lead See all the pictures that are taken from all members of the party in real time! Never have to ask a friend or family member to send you pictures again – you'll already have them!
  .row-padding
    .row
      .span12
        p 
          h1 Party Stream is currently in development. 
        p We are a small team working endlessly on this app and are working realy hard to get it out as soon as possible. We have a Beta program that will allow a select few people the chance to try and test our app before it is released to the app store.
  .row-padding
    .row
      .span4.offset3
        p.lead Want to be part of the beta?
        p We are only giving out a limited amount of applications so it will be first come first served. 
      .span4
          a.btn.btn-primary.btn-large(href="#") Register for Beta




.footer
  .container
    .row
      .span4.offset8
        p Built with 
          a(href="http://twitter.github.com/bootstrap") Bootsrap
        
        ul.inline
          li
            p.lead
              small Follow us on:
          li  
            a(href="https://twitter.com/PartyStreamApp")
              img(src="/images/twitter_small.png")
