.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="#")= title
      .nav-collapse
        ul.nav
          li.active
            a(href="#") Home
          li
            a(href="#about") About
          li
            a(href="#contact") Contact
.banner
  .container
    .row.heading
      .span10.offset3
        img(src="/images/partyStream.png")
    .row
      center
        p.lead A free photo sharing app that allows you easily share photos with friends and family.
    .row
      center
        a.btn.btn-primary.btn-large(href="#") Register for Beta
.container
  .row
    center
      .page-header
        h1  What is Party Stream?
  .row
    .span8.offset4
      p Party Stream allows you to:
      ul
        li Create Events
        li Invite people to events you created
        li Upload pictures to the event
        li View images that other users have uploaded to your events

