.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="#")= title
      .nav-collapse
        ul.nav
          li.active
            a(href="#") Home
          li
            a(href="#about") About
          li
            a(href="#contact") Contact
.banner
  .container
    .row.heading
      .span10.offset3
        img(src="/images/partyStream.png")
    .row
      center
        p.lead A free photo sharing app that allows you easily share photos with friends and family.
    .row
      center
        a.btn.btn-primary.btn-large(href="#") Register for Beta
.container
  .row
    .span4
      .page-header
        h1  What is Party Stream?
  .row
    .span12
      p.lead Party Stream is an application that will help you share photos between friends and family during events.
  .row  
    .span4
      img(src="/images/iPhoneTrio.png")
    .span6.offset1
      .row-padding
        p.lead Share pictures among friends at a party, in realtime!
        dl.dl-horizontal
            dt Do things like:
            dd Create Events
            dd Invite people to events
            dd Upload pictures to the event
            dd View images that other users have uploaded to your events
  .row-padding
    .span12
      p.lead Party Stream is currently in developement. 
      p We are a small team working endlessly on this app and are working realy hard to get it out as soon as possible. We have a Beta program that will allow a select few people the chance to try and test our app before it is released to the app store.
      p Want to be part of the closed beta?
      a.btn.btn-primary.btn-large(href="#") Register for Beta




.footer
  .container
    .row
      .span4.offset8
        p Built with 
          a(href="http://twitter.github.com/bootstrap") Bootsrap
        
        ul.inline
          li
            p.lead
              small Follow us on:
          li  
            a(href="https://twitter.com/PartyStreamApp")
              img(src="/images/twitter_small.png")
