!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='keywords', content='photo social media app ios sharing startup images pictures')
    meta(name='description', content='PartyStream is a free photo sharing app that allows you to easily share photos with friends and family.')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-37551447-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
  body!= body