.wrapper
    .container
        .row-fluid
            .span12
                .top
                    #share
                        img(src="/images/v2.0/twitter-share.png",width="40%")
                .beigeBody
                    hello world

