.wrapper
  .container
    .row-fluid
      .span12
        .top
          #share
            img(src="/images/v2.0/twitter-share.png",width="40%")
          img(src="/images/v2.0/top-center-header.png")
          .row-fluid.water-color
            .row-fluid#waves
              .span12
                img(src="/images/v2.0/register-for-beta-waves-center.png")
            .row-fluid.beigeBody
              .span1
              .span10
                .row-fluid
                  .span6#feature_tile
                    p
                      img(src="/images/v2.0/create.png")
                  .span6#feature_tile
                    p
                      img(src="/images/v2.0/invite.png")
                .row-fluid
                  .span6#feature_tile
                    p
                      img(src="/images/v2.0/upload.png")
                  .span6#feature_tile
                    p
                      img(src="/images/v2.0/view.png")
              .span1






