body{
    background-image: url("/images/v2.0/midnight_sky.png");
    /*background-repeat: repeat-y;
    background-size: cover;
    height: 100%;*/
}
.top{
    /*background-image: url("/images/v2.0/top-center-header.png");
    background-repeat: no-repeat;*/
    height: 319px;
}

.top #logo{
    position    : absolute;
    padding-top : 65px;
    padding-left: 15%;
    display     : block;
    z-index     : 2;
}

.top img{
    z-index: -1;
}
.top #share{
    float      : right;
    text-align : right;
    z-index    : 1;
}
.beigeBody{
    background-color:   #e6ecde;
    color: white;
    height: 100%;
    z-index: 1;
}

.beigeBody #sign_up{
    /*background-image: url("/images/v2.0/beta-program.png");*/
    height: 264px;

}

.water-color{
    background-color: #1abc9c;
}
.div-center{
    float: none;
    margin: 0 auto;
}

#v_center{
    margin-top:90px;
}
#waves{
    position: relative;
    z-index: 1;
    margin-top: -35px;
    width: inherit;
}

#feature_tile{
    padding-top: 50px;
    height: 200;
}

#turtle{
    margin-top: 50px;
}